@font-face {
    font-family: "best_hero";
    src: url("../fonts/herottf.ttf");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue.otf");
}
*{
    font-family: "Bebas Neue";
    color: white;
}
html{
    background-color: rgb(12, 0, 12);
}
body{
    background:linear-gradient(130deg,black,rgb(62, 0, 62));
    padding: 0px;
    margin: 0px;
    position: relative;
}
#newcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#newcontent>p{
    text-align: center;
}
#newcontent>h3{
    font-size: 150%;
}
#popover-container{
    display:none;
    background-color: rgba(0, 0, 0, 0.64);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
#popover{
    background:linear-gradient(to right,rgb(21, 0, 15),rgb(51, 0, 51));
    margin: auto;
    min-height: 35em;
    min-width: 20em;
    max-height: 30em;
    margin-top: 12vh;
    height: 25vw;
    width: 25vw;
    display: flex;
    border-radius: 10px;
    transition: all 0.6s ease-out;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: scroll;
    padding: 2em;
}
#loadingCircle{
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 5px solid white;
    height: 5vh;
    border-radius: 100%;
    width: 5vh;
    animation-name: rotatingCircle;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
#exit{
    height:4vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
}
#exit:hover{
    cursor: pointer;
    scale: 1.05;
    transition: all 0.2s;
    
}
#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#logo{
    width: 17vh;
}
header{
    margin: 0px;
    display: flex;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
    padding: 0em 2em;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right,black,rgb(62, 0, 62));
}
#navbar{
    list-style: none;
    display: flex;
    gap: 2vh;
    align-self: center;
    margin-right:3.75vh;
}
a{
    text-decoration: none;
    font-size: 2.2vh;
}
#hero{
    height: 50vh;
    display: flex;
    align-items: center;
    background-image: url(../imgs/herobackground.png);
    background-position:bottom;
    border-bottom: 0.5px solid white;
    margin-bottom: 2vh;
}
#explorerwrapper{
    padding-top: 2vh;
    margin-bottom: 0vh;

}
.moviebefore{
    border: 2px solid rgba(255, 255, 255, 0.112);
    animation-name: loadingMovies;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    animation-iteration-count: infinite;
    margin: 1vh;
    width: 20vh;
    height: 35vh;

}
.movie{
    animation-name: slowShow;
    position: relative;
    position:relative;
    animation-duration: 1200ms;
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    width: 20vh;
    height: 35vh;
    background-color: rgba(137, 43, 226, 0.505);
}
.movieOverlay{
    position:absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.504);
    backdrop-filter: blur(0.1px);
    z-index: 1;
}
.movie:hover{
    scale: 1.03;
    transition: all 0.5s;
    cursor: pointer;

}
.movie>p{
    text-align: center;
    font-size: 2em;
    color: white;
    z-index: 2;
}

h1,h2{
    text-align: center;
    margin: auto;
}
h1{
    font-family: "best_hero";
    font-size: 3em;
}
#button{
    display: flex;
    justify-content: center;
}
#exploreMore{
    height: 10vh;
    width: 40vh;
    background:linear-gradient(130deg,black,rgb(62, 0, 62)) ;
    border-radius: 4vh;
    font-size: 3vh;
    margin-bottom: 2vh;
    cursor: pointer;
}
.button{
    height: 10vh;
    width: 40vh;
    background:linear-gradient(130deg,black,rgb(62, 0, 62)) ;
    border-radius: 4vh;
    font-size: 3vh;
    margin-bottom: 2vh;
    cursor: pointer;
}
#exploreMore:hover{
    transition: all 0.2s ease-in;
    scale: 1.05;
}

footer{
    margin-top: 2vh;
    display: flex;
    padding:1em;
    border-top: 1px solid white;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right,black,rgb(62, 0, 62))

}
#logo2{
    width: 8em;
}
#github{
    display: flex;
    align-items: center;
}
#githubic{
    width: 2em;
    height: 2em;
}
#github:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.05;
    cursor: pointer;
}
#logo2:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.05;
    cursor: pointer;
}
@media screen and (max-width:520px) {
    #hell{
        display: none;
    }
}
@keyframes animation{
    0%{
        background-color: rgb(255, 255, 255);
    }
    100%{
        background-color: rgba(80, 27, 130, 0.505);
    }
}
@keyframes loadingMovies{
    0%{
        background-color: black;

    }
    50%{
        background-color: rgb(27, 0, 39);

    }
    100%{
        background-color: black;

    }
}
@keyframes slowShow{
    0%{
        opacity: 0;

    }
    50%{
        translate: -0.5vh;
    }
    100%{
        opacity:1;

    }
}
@keyframes rotatingCircle {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);

    }
}
