<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static',filename='imgs/icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <title>{% block title %}
        default
        {% endblock %}</title>
    {% block extra_style %}
    {% endblock %}
    {% block extra_script%}
    {% endblock %}

</head>
<body>
    <header>
        <a href="{{url_for('home')}}"> <img src="{{url_for('static',filename='imgs/logo.png')}}" alt="Logo" id="logo"></a>
        <ul id="navbar">
            <li> <a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('explore_movies',page=1)}}">Explore</a></li>
            <li><a href="{{url_for('ai_movie_recommendation')}}">AI Recommendation</a></li>
        </ul>

    </header>
    <div id="popover-container">
        <div id="popover">
            <div id="popover-content">
                <img src="{{url_for('static',filename='imgs/exit.png')}}" alt="exit" id="exit">
                <div id="loadingCircle">
                </div>
                <p></p>
                <div id="newcontent">
                    <h3 id="title" style="font-size: 1.5em;text-align: center;"></h3>
                    <img src="#" alt="poster" id="poster" style="height: 20em; width:12em;border: 2px solid rgb(165, 0, 113); border-radius: 10px;">
                    <p id="overview"></p>
                </div>
            </div>
        </div>
    </div>
    {% block body%}
    {% endblock%}
<footer>
    <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='imgs/logo.png')}}" id="logo2" title="MoviesEarth"></a>
        <a href="https://github.com/kaliakram/MoviesEarth" target="_blank">
            <div id="github" title="MoviesEarth Repo">
        <img src="{{url_for('static',filename='imgs/github.png')}}" id="githubic">
        <p id="hell">MoviesEarth Repo</p>
    </div>
        </a>
   </footer>
{% block script %}
{% endblock %}
</body>
</html>