<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="{{url_for('static',filename='imgs/icon.png')}}">
    <title>MoviesEarth- Home</title>
    <script>
        let url="{{url_for('get_movies',pages=1)}}";
    </script>
</head>
<body>
    <header>
        <a href="{{url_for('home')}}"> <img src="{{url_for('static',filename='imgs/logo.png')}}" alt="Logo" id="logo"></a>
        <ul id="navbar">
            <li> <a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('explore_movies',page=1)}}">Explore</a></li>
            <li><a href="{{url_for('ai_movie_recommendation')}}">AI Recommendation</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
        </ul>

    </header>
    <div id="popover-container">
        <div id="popover">
            <div id="popover-content">
                <img src="imgs/exit.png" alt="exit" id="exit">
                <div id="loadingCircle">
                </div>
                <div id="newcontent">
                    <h3 id="title" style="font-size: 2.5em;text-align: center;"></h3>
                    <img src="#" alt="poster" id="poster" style="height: 32vh; width:20vh;border: 2px solid rgb(165, 0, 113); border-radius: 10px;">
                    <p id="overview"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="hero">
        <h1></h1>
    </div>
    <div id="explorerwrapper">
        <h2>Explore Movies</h2>
         <div id="movies">
            {% for i in range(12) %}
            <div class="moviebefore"></div>
            {% endfor %}

    </div>
    </div>
    <div id="button">
       <a href="{{url_for('explore_movies',page=1)}}">
         <button id="exploreMore">Explore More</button>
       </a>
    </div>
    
   <footer>
    <p>hello</p>
   </footer>
    <script src="{{url_for('static',filename='js/script.js')}}">

    </script>
</body>
</html>