{% extends 'base.html' %}
{% block title %} MoviesEarth- Home {% endblock %}
    {% block extra_style %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    {% endblock %}
    {% block extra_script%}
        <script>
        let url="{{url_for('get_movies',pages=1)}}";
    </script>
    {% endblock %}

{% block body%}
     <div id="hero">
        <h1></h1>
    </div>
    <div id="explorerwrapper">
        <h2>Explore Movies</h2>
         <div id="movies">
            {% for i in range(12) %}
            <div class="moviebefore"></div>
            {% endfor %}

    </div>
    </div>
    <div id="button">
       <a href="{{url_for('explore_movies',page=1)}}">
         <button id="exploreMore">Explore More</button>
       </a>
    </div>
    {% endblock%}
   
    {% block script %}
        <script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
